<h2>List of users</h2>
<div align="center">
    <% @users.each do |user| %>
        <div class="well well-small">
            <div class="row">
                <div class="col-md-offset-5 col-md-3 center">
                    <%= user.username %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-3 center">
                    <%= gravator_for(user) %>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-4 center">        
                    <small>Number of articles - <%= pluralize(user.articles.count, "article") if user.articles %></small>
                 </div>
            </div>
        </div>
    <% end %>
</div>