<div class="row">
  <div class="col-md-offset-5 col-md-3 center">
     <%= gravator_for @user %>
  </div>
</div>
<h3 align="center">Welcome to   <strong><%= @user.username %>'s </strong> Page </h3>
<%= render 'articles/article', obj: @user.articles %>