$navbar-default-bg: #F0F8FF;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    font-size: 1.5em;
    font-weight: bold;

}

.jumbotron {
    background-image: asset-url('images.jpg');
        text-align: right;
}

.footer {
    background-color: #F0F8FF;
    margin: 10px;
    border: 1px solid #eaeaea;
}